.git
.github
.env
.editorconfig
.gitignore
.gitattributes
node_modules
vendor
tests
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.yml
*.md
.DS_Store
Thumbs.db